<pre style="color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; word-wrap: break-word; white-space: pre-wrap;">&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;
&lt;nlog xmlns=&quot;http://www.nlog-project.org/schemas/NLog.xsd&quot;
      xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
      xsi:schemaLocation=&quot;http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd&quot;
      autoReload=&quot;true&quot;
      throwExceptions=&quot;false&quot;
      internalLogLevel=&quot;Off&quot; internalLogFile=&quot;c:\temp\nlog-internal.log&quot;&gt;

  &lt;!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  --&gt;
  &lt;variable name=&quot;myvar&quot; value=&quot;myvalue&quot;/&gt;

  &lt;!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   --&gt;
  &lt;targets&gt;

    &lt;!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    --&gt;

    &lt;!--
    Write events to a file with the date in the filename.
    &lt;target xsi:type=&quot;File&quot; name=&quot;f&quot; fileName=&quot;${basedir}/logs/${shortdate}.log&quot;
            layout=&quot;${longdate} ${uppercase:${level}} ${message}&quot; /&gt;
    --&gt;

    &lt;target name=&quot;coloredConsole&quot; xsi:type=&quot;ColoredConsole&quot; useDefaultRowHighlightingRules=&quot;false&quot;
       layout=&quot;${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}&quot; &gt;
      &lt;highlight-row condition=&quot;level == LogLevel.Debug&quot; foregroundColor=&quot;DarkGray&quot; /&gt;
      &lt;highlight-row condition=&quot;level == LogLevel.Info&quot; foregroundColor=&quot;Gray&quot; /&gt;
      &lt;highlight-row condition=&quot;level == LogLevel.Warn&quot; foregroundColor=&quot;Yellow&quot; /&gt;
      &lt;highlight-row condition=&quot;level == LogLevel.Error&quot; foregroundColor=&quot;Red&quot; /&gt;
      &lt;highlight-row condition=&quot;level == LogLevel.Fatal&quot; foregroundColor=&quot;Red&quot; backgroundColor=&quot;White&quot; /&gt;
    &lt;/target&gt;

    &lt;target name=&quot;infoFile&quot; xsi:type=&quot;File&quot;
        layout=&quot;${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}&quot;
        fileName=&quot;${basedir}/logs/info.log&quot; keepFileOpen=&quot;false&quot; encoding=&quot;iso-8859-2&quot; /&gt;
    &lt;target name=&quot;errorFile&quot; xsi:type=&quot;File&quot;
        layout=&quot;${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}&quot;
        fileName=&quot;${basedir}/logs/error.log&quot; keepFileOpen=&quot;false&quot; encoding=&quot;iso-8859-2&quot; /&gt;
  &lt;/targets&gt;

  &lt;rules&gt;
    &lt;!-- add your logging rules here --&gt;

    &lt;!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to &quot;f&quot;
    &lt;logger name=&quot;*&quot; minlevel=&quot;Debug&quot; writeTo=&quot;f&quot; /&gt;
    --&gt;
    &lt;logger name=&quot;*&quot; minlevel=&quot;Debug&quot; writeTo=&quot;coloredConsole&quot; /&gt;

    &lt;logger name=&quot;*&quot; minlevel=&quot;Debug&quot; maxlevel=&quot;Info&quot; writeTo=&quot;infoFile&quot; /&gt;
    &lt;logger name=&quot;*&quot; minlevel=&quot;Warn&quot; maxlevel=&quot;Fatal&quot; writeTo=&quot;errorFile&quot; /&gt;
  &lt;/rules&gt;
&lt;/nlog&gt;</pre>
